/node_modules
/public/hot
/public/storage
/vendor
/.composer
/.config
/coverage
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
*.codekit3
/.idea
/.vscode
/.vagrant
.DS_Store
.bash_history
.php_cs.cache
.cache
.local
coverage.xml